{% extends "base.html" %}
{% block content %}
<div class="dashboard-container">
    <h2>Enkripsi & Dekripsi</h2>
    <form action="{{ url_for('dashboard') }}" method="POST">
        <textarea name="text_input" placeholder="Masukkan teks atau cipher di sini..." rows="10">{{ original_text or encrypted_text }}</textarea>
        
        <div class="controls">
            <label for="algorithm">Pilih Algoritma:</label>
            <select name="algorithm" id="algorithm">
                <option value="AES">AES</option>
            </select>
        </div>
        
        <div class="buttons">
            <button type="submit" name="action" value="encrypt">Enkripsi</button>
            <button type="submit" name="action" value="decrypt">Dekripsi</button>
        </div>
    </form>

    {% if encrypted_text %}
    <h3>Hasil Enkripsi:</h3>
    <textarea rows="5" readonly>{{ encrypted_text }}</textarea>
    {% endif %}

    {% if decrypted_text %}
    <h3>Hasil Dekripsi:</h3>
    <p class="result-text">{{ decrypted_text }}</p>
    {% endif %}
</div>
{% endblock %}